.textareaAutoResize {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
  width: 100%;
  min-height: 1.5rem;
  height: 1.5rem;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
